@page "/wedding"

<body class="background-image-wedding">
    <div class="blog-pad">
        <div class="col-lg-12 wedding-background rounded-lg shadow-border-sm text-center p-4">
            <h1><strong><u>Hello and, Thank You for your interest in our special day!</u></strong></h1>
            <p class="p-2">
                <h3><strong>The event will be held on July 30th 2022 at Brewery Becker in Brighton MI.</strong></h3>
            </p>
            <div class="p-4">
                <h3>Gifts are not expected, we only hope for your presence.</h3><br />
                <h3>We have however added some fun ideas to a list that anyone can look at!</h3><br />
                <a href="https://www.walmart.com/registry/WR/59a632ff-7c08-4221-a6e7-9b82e52a4a5a" target="_blank" class="p-4 aLink"><h3>Take a look at our Registry!</h3></a>
            </div>
            <div class="pt-4">
                <div class="col-sm-12" style="padding-bottom: 50px">
                    <h3><u>The schedule for the day is as follows</u></h3>
                    <h6><strong>Ceremony 1pm</strong></h6>
                    <h6><strong>Hors d'oeuvres Imediatley following</strong></h6>
                    <h6><strong>Lunch 2:30pm</strong></h6>
                    <h6><strong>Cake 4pm</strong></h6>
                    <h6><strong>Close of Event 5pm</strong></h6>
                    
                </div>
                <div class="col-sm-12">
                    <h3><u>Appetizer Menu</u></h3>

                    @foreach (var item in AppMenu)
                    {
                        <h6 class="pt-1"><strong>@item</strong></h6>
                    }
                </div>
                <div class="col-sm-12 pt-4">
                    <h3 class="pt-4"><u>Starter Course</u></h3>

                    @foreach (var item in StartersMenu)
                    {
                        <h6 class="pt-1"><strong>@item</strong></h6>
                    }
                </div>
                <div class="col-sm-12 pt-4">
                    <h3 class="pt-4"><u>Lunch will be served buffet style</u></h3>

                    @foreach (var item in MainsMenu)
                    {
                        <h6 class="pt-1"><strong>@item</strong></h6>
                    }
                </div>
            </div>
        </div>

    </div>
</body>

@code {
    public List<string> AppMenu { get; set; } = new()
    {
        "Hors D'oeuvre include:",
        "Stuffed Red Skin Potatoes 'V' ",
        "Wild Mushroom Cheese Puff",
        "Strawberry Crustini"
    };

    public List<string> StartersMenu { get; set; } = new()
    {
        "Corn Muffins",
        "Garden Salad (Ranch and Balsamic Vinagerette)"
    };

    public List<string> MainsMenu { get; set; } = new()
    {
        "Macaroni & Cheese",
        "Green Beans and Carrots",
        "Grilled Herb Chicken",
        "Barbecue Braised Beef Brisket"
    };
}
