@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}



@if (User.Identity.IsAuthenticated)
{
    <h1>@ViewData["Title"]</h1>

   
}
else
{
    <h1>Site under maintenance, this section doesn't exist</h1>
}



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
