@using jsnover.net.blazor.Models
@using Constants.Game


<div class="rounded shadow-border p-5 GameBoard">
    <div>

    </div>
    <div>
        <div class="col-12 row">
            <div class="col" style="height:20vh">
                <img height="100%" width="10%" style="position:absolute;z-index:0;left:20%;" src="@SolitaireImages.BacokOfCard" />
                <img height="100%" width="10%" style="position:absolute;z-index:1;left:25%;" src="@SolitaireImages.BacokOfCard" />
            </div>
        </div>
        <div class="col-12 row">
            <div class="col" style="height:20vh">
                <img height="100%" width="10%" style="position:absolute;z-index:0;left:20%;" src="@SolitaireImages.BacokOfCard" />
                <img height="100%" width="10%" style="position:absolute;z-index:1;left:25%;" src="@SolitaireImages.BacokOfCard" />
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Dictionary<string, List<Card>> Dealer { get; set; }

}
 