@page "/BlackJack"

@inject jsnover.net.blazor.Infrastructure.Services.CardService cardService
@using jsnover.net.blazor.Models
@using jsnover.net.blazor.Components

@if (BeforeGame)
{
    <button class="btn btn-primary" @onclick="NewGame">New Game</button>
}
else
{
    <BlackJackBoard Dealer="Dealer">

    </BlackJackBoard>
}


@code {
    private bool BeforeGame { get; set; } = true;
    private Dictionary<string, List<Card>> Dealer { get; set; } = new();

    private async Task NewGame()
    {
        //Dealer = await cardService.CreateBlackJackDictionary();
        BeforeGame = false;
        StateHasChanged();
    }
}
