@page "/solitaire"
@inject jsnover.net.blazor.Infrastructure.Services.CardService cardService
@using jsnover.net.blazor.Models
@using jsnover.net.blazor.Components

@if (BeforeGame)
{
    <h6>Under Construction, check again later</h6>
    <button class="btn btn-primary" @onclick="NewGame">New Game</button>
}
else
{
    <SolitaireBoard Dealer="Dealer">

    </SolitaireBoard>
}


@code {
    private bool BeforeGame { get; set; } = true;
    private Dictionary<string, List<Card>> Dealer { get; set; }

    private async Task NewGame()
    {
        Dealer = await cardService.CreateGameDictionary();
        BeforeGame = false;
        StateHasChanged();
    }

}