@page "/solitaire"
@inject HttpClient client
@inject jsnover.net.blazor.Infrastructure.Services.CardService cardService
@using System.Text.Json
@using jsnover.net.blazor.Models

<h3>Solitaire</h3>

<button class="btn btn-primary" @onclick="NewGame">New Game</button>

@code {
        private async Task NewGame()
        {
            var newDeck = await cardService.GetDeck();

            var cardDraw = await cardService.DrawAllCards();
        }
}