@page "/health-tracker"

@using jsnover.net.blazor.Components

<PageTitle>Health Tracker</PageTitle>

<div class="container-fluid">
    <HealthTracker />
</div>

<style>
    .container-fluid {
        padding: 20px;
    }

    h1 {
        margin-bottom: 10px;
    }
</style>
