@page "/"
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject jsnover.net.blazor.Infrastructure.Services.ToolService ToolService

<div class="jumbotron translucent-text-box shadow-border jsno-pad-20 background-color-darkcyan">
    <h1>JSNOVER.NET</h1>
    <p>
        <h4>
            Welcome to jsnover.net! This is my idea of a portfolio, but it is also much more then that.
            Please check out some of my projects and try them out for yourself! Let's open up a discussion
            about what interests you in Computer Science, and if you enjoy teaching as well then we can discuss that.
            The community around this field is amazing and my goal is to help that community become the best it can be.
        </h4>
    </p>
</div>


<div class="row" style="margin-bottom:20px">
    <div class="col-md-4 translucent-text-box margin-bttm-20">
        <div class="homePTag rounded shadow-border pad-20">
            <h2>As an Engineer</h2>
            <p>
                I have been learning as much as I can about Computer Science. First taking a .NET C# boot camp in Detroit, MI,
                And using my prevoius teaching experience I  returned years later to teach the same course for the Grand Circus bootcamp. 
                I have been working on open source projects, as well as personal projects
                such as this site and others like it, so that I can keep pushing the limits of my knowledge. I have a full time position as a software engineer, 
                reach out for consultation or a possible business oppurtunity.
            </p>
        </div>
    </div>
    <div class="col-md-4 translucent-text-box margin-bttm-20">
        <div class="homePTag rounded shadow-border pad-20">
            <h2>As a Musician</h2>
            <p>
                I have been a percussionist for 20 years. I played in Extreme Metal groups, Church groups, Rock groups, Jazz bands, and even
                Hip-Hop. I was not only a performing artist, but also a percussion instructor for 5 years. I taught from ages 6 and up,
                and through introspection I learned a lot about patience and dedication during those years. 
                I still practice and keep up on current music, and would consider any contract gigs as a percussionist.
            </p>
        </div>
    </div>
    <div class="col-md-4 translucent-text-box margin-bttm-20">
        <div class="homePTag rounded shadow-border pad-20">
            <h2>Next Steps</h2>
            <p>
                I have been living in Detroit for 5 years at this point and have started to enjoy calling it home. I come from
                a diverse part of the country not just in race but also class, and that gave me a lot of perspective on the world, something I didn't notice as much
                while living there. This became very apparent once moving to Detroit though, as I noticed a lot of the social tensions here
                as there were in my hometown. I won't say that this is comforting, but I do find it feels very familiar to me. I have been doing
                my best to learn about the local community, and have been enjoying meeting locals while being a part of a city on the rise.
            </p>
        </div>
    </div>
</div>

<jsnover.net.blazor.Components.Footer />

@code{ 
    private bool visit;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        visit = await sessionStorage.GetItemAsync<bool>("countedVisit");
        if(firstRender)
        {

        }
        else
        {
            visit = await sessionStorage.GetItemAsync<bool>("countedVisit");
        }

        if(!visit)
        {
            await sessionStorage.SetItemAsync("countedVisit", true);
            await ToolService.CountVisitor();
        }
    }
}